<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group">

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.application.GroupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BigBitmapActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ScannerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <!-- 推送 -->
        <service
            android:name="com.avos.avoscloud.PushService"
            android:exported="true" />

        <receiver
            android:name="com.receiver.MerchantPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.group.MERCHANT_PUSH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.receiver.OrderPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.group.ORDER_PUSH" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--<action android:name="android.intent.action.USER_PRESENT" />-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- 百度定位地图 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/mapKey" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask" />
        <activity
            android:name=".SelectCityActivity"
            android:label="@string/title_activity_select_city" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".H5Activity"
            android:label="@string/title_activity_h5" />
        <activity
            android:name=".MerchantActivity"
            android:label="@string/title_activity_merchant" />
        <activity
            android:name=".MerchantDetailActivity"
            android:label="@string/title_activity_merchant_detail" />
        <activity
            android:name=".VoucherDetailActivity"
            android:label="@string/title_activity_voucher_detail" />
        <activity
            android:name=".SubmitOrderActivity"
            android:label="@string/title_activity_submit_order" />
        <activity android:name=".PointRecordActivity" />
        <activity android:name=".LotteryRecordActivity" />
        <activity android:name=".base.BaseLotteryListActivity" />
        <activity android:name=".SelectLotteryActivity" />
        <activity android:name=".OrderListActivity" />
        <activity
            android:name=".OrderDetailActivity"
            android:label="@string/title_activity_order_detail" />
        <activity android:name=".CollectionActivity" />
        <activity android:name=".AllRemarkActivity" />
        <activity android:name=".MyRemarkActivity" />
        <activity
            android:name=".AddUpdRemarkActivity"
            android:label="@string/title_activity_add_upd_remark" />
        <activity android:name=".MyCouponActivity" />
        <activity
            android:name=".CouponActivity"
            android:label="@string/title_activity_coupon" />
        <activity
            android:name=".MyLikeActivity"
            android:label="@string/title_activity_my_like" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTask" />
        <activity
            android:name=".SearchMerchantActivity"
            android:label="@string/title_activity_search_merchant" />
        <activity
            android:name=".MapSearchActivity"
            android:label="@string/title_activity_map_search" />
        <activity
            android:name=".MapMerchantActivity"
            android:label="@string/title_activity_map_merchant" />
        <activity
            android:name=".RouteListActivity"
            android:label="@string/title_activity_route_list" />
        <activity
            android:name=".MapNavigateActivity"
            android:label="@string/title_activity_map_navigate" />
        <activity
            android:name=".PersonActivity"
            android:label="@string/title_activity_person" />
        <activity
            android:name=".UpdDisplayNameActivity"
            android:label="@string/title_activity_upd_display_name" />
        <activity
            android:name=".UpdUserIconActivity"
            android:label="@string/title_activity_upd_user_icon" />
        <activity
            android:name=".UpdPwdActivity"
            android:label="@string/title_activity_upd_pwd" />
        <activity
            android:name=".ForgetPwdActivity"
            android:label="@string/title_activity_forget_pwd" />
        <activity
            android:name=".QuickLoginActivity"
            android:label="@string/title_activity_quick_login" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="微信加载回调界面"
            android:launchMode="singleTop"
            android:theme="@style/TransparentTheme" />
    </application>

</manifest>
